{% extends "stampo.htm" %}
{% block title %}Pagina non trovata - Misurazione{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Beh...</h1>
        <p class="lead">Questo è un po' imbarazzante...</p>
        <hr class="my-4">
        <p>Segue una descrizione dell'errore</p>
        <div class="alert alert-danger" role="alert">
            <strong>404</strong>: Pagina o risorsa non trovata. Verificare l'indirizzo inserito o contattare uno degli amministratori.
        </div>
        <a href="/misurazione">Torna alla schermata principale</a>
    </div>
{% endblock %}