{% extends "stampo.htm" %}
{% block title %}Bug - Misurazione{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Uh-Oh!</h1>
        <p class="lead">Qualcosa non va con le date immesse...</p>
        <hr class="my-4">
        <p>Si prega di verificarle, tenendo conto che la data di sinistra deve essere minore di quella di destra e che questo sito non vede il futuro.</p>
        <a href="/misurazione">Torna alla schermata principale</a>
    </div>
{% endblock %}