{% extends "stampo.htm" %}
{% block title %}Dashboard - Misurazione{% endblock %}
{% block extrahead %}
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script>
        window.onload = function () {
        var options = {
            animationEnabled: true,
            zoomEnabled: true,
            theme: "light2",
            title:{
                text: "Misurazioni"
            },
            axisX:{
                valueFormatString: "DD MMM YYYY, HH:mm ",
                crosshair: {
              enabled: true,
              snapToDataPoint: true
                }
            },
            axisY: {
                title: "Temperatura",
                suffix: "°C",
                minimum: -20,
                valueFormatString: "#,##0"
            },
            toolTip:{
                shared:true
            },
            legend:{
                cursor:"pointer",
                verticalAlign: "bottom",
                horizontalAlign: "right",
                dockInsidePlotArea: false,
                itemclick: toogleDataSeries
            },
            data: [{
                type: "line",
                showInLegend: true,
                name: "Temperatura",
                markerType: "square",
                xValueFormatString: "DD MMM YYYY, HH:mm:ss",
                color: "#00f004",
                yValueFormatString: "#,##0°C",
                dataPoints: [
                    {% for registrazione in registrazioni %}
                        { x: new Date({{ registrazione.orario.year }}, {{ registrazione.orario.month-1 }}, {{ registrazione.orario.day }}, {{ registrazione.orario.hour }}, {{ registrazione.orario.minute }}, {{ registrazione.orario.second }}), y: {{ registrazione.valore }} },
                    {% endfor %}
                ]
            }]
        };
        $("#chartContainer").CanvasJSChart(options);

        function toogleDataSeries(e){
            e.style.width = "300px";
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else{
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }

        }
    </script>
{% endblock %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                   aria-expanded="true" aria-controls="multiCollapseExample1">Grafico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#multiCollapseExample2" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample2">CSV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#multiCollapseExample3" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample3">Media</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="collapse multi-collapse show" id="multiCollapseExample1" style="height: 300px; width: 100%;"
             aria-expanded="true">
            <div class="card card-body" style="height: 300px; width: 100%;">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
            <h1>Download del CSV</h1>
            <form action="/downloadCSV" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="data1" class="col-form-label">Data d'inizo</label>
                        <input type="date" class="form-control" id="data1" name="data1">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="data2" class="col-form-label">Data d'inizo</label>
                        <input type="date" class="form-control" id="data2" name="data2">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Esegui</button>
            </form>
        </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body">
            <h1>Download del CSV</h1>
            <form action="/average" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="data3" class="col-form-label">Data d'inizo</label>
                        <input type="date" class="form-control" id="data3" name="data1">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="data4" class="col-form-label">Data d'inizo</label>
                        <input type="date" class="form-control" id="data4" name="data2">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Esegui</button>
            </form>
        </div>
    </div>
</div>
</div>
{%endblock%}